<div class="post">
    <picture >
        <source srcset="@@img-sm.webp" media="(max-width: 480px)">
        <source srcset="@@img-lg.webp" media="(max-width: 800px)">
        <img src="@@img.webp" alt="@@alt" class="card__image">
    </picture>
    <div class="post__body">
        <div class="post__tags">
            <div>
                <img src="./assets/images/ci_tag.webp" alt="icon">
                <p>@@creator</p>
            </div>
            <div>
                <img src="./assets/images/ci_tag.webp" alt="icon">
                <p>@@date</p>
            </div>
            <div>
                <img src="./assets/images/ci_tag.webp" alt="icon">
                <p>@@category</p>
            </div>
        </div>
        <div class="post__title">
            <h3>@@title</h3>
        </div>
        <div class="post__description">
            <p>@@description</p>
        </div>
        <button>Read More</button>
    </div>
</div>



